<div>
  <p>
    <h2><%= @game.player(1).name %> [<%= @game.player(1).hit_points %>hp]
      <progress value= "<%=@game.player(1).hit_points%>" max= "<%=Player::DEFAULT_HIT_POINTS%>"></progress>
</h2>
  </p>
  <p>
    <h2><%= @game.player(2).name %> [<%= @game.player(2).hit_points %>hp]
      <progress value="<%= @game.player(2).hit_points %>" max="<%=Player::DEFAULT_HIT_POINTS%>"></progress>
</h2>
  </p>
  <p>
    <h2><%= @game.current_player.name %>'s turn:</h2>
  </p>
  <form action='/attack'>
    <input type="submit" value="Attack!">
  </form>
</div>
